/* Color Palette */

$first-color: #ffb6b9;

$second-color: #fae3d9;

$third-color: #bbded6;
$third-color-2: #45d1b1;
$third-color-3: #40af95;

$fourth-color: #61c0bf;
$fourth-color-2: #3eacaa;

/* Font */

$primary-font: "Lucida Console", "Courier New", monospace;