/* Color Palette */
/* Font */
/* MIXIN */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fae3d9;
  font-size: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

/* Header  */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffb6b9;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__logo {
  width: 150px;
  min-width: 140px;
  margin-right: 1em;
}

.header__logo img {
  width: 100%;
}

@media (max-width: 800px) {
  .header__search-bar {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin-top: 1em;
  }
}

.header__profile {
  width: 2%;
  margin-right: 2em;
}

@media (max-width: 800px) {
  .header__profile {
    margin-right: 5em;
  }
}

.header__search {
  width: 100%;
}

.header__input {
  width: 500px;
  padding: 10px 10px 10px 25px;
}

@media (max-width: 800px) {
  .header__input {
    width: 100%;
  }
}

.search-bar {
  position: relative;
  width: 100%;
  display: inline-block;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.fa-search {
  position: absolute;
  left: 9px;
  top: 14px;
}

.fa-user {
  color: #61c0bf;
  margin-left: 1em;
}

/* Sidebar  */
.sidebar {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  background-color: #bbded6;
  width: 100%;
  padding: 0 0rem;
  margin-right: 1em;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a {
  display: block;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
}

.sidebar a:hover:not(.active) {
  background-color: #3eacaa;
  color: white;
}

.sidebar a.active {
  background-color: #61c0bf;
  color: white;
}

.sidebar-item {
  line-height: 4rem;
}

.main-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Form  */
.form {
  background-color: #61c0bf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5em;
  border-radius: 1em;
}

.form > *:not(:last-child) {
  padding: 1rem;
  width: 100%;
  border: 2px solid #ffb6b9;
  border-radius: 1em;
  background-color: transparent;
}

.form > input:not(:first-child) {
  margin-top: 5px;
}

.form-button {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #ffb6b9;
  border-radius: 1em;
  height: 3rem;
  width: 95%;
  margin-top: 2rem;
  margin-bottom: 1em;
}

.form-button:hover {
  background-color: #efbe7c;
}

.form .radio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form .radio-menu .radio-menu-items {
  margin-left: 1rem;
}

.form .radio-menu .radio-menu-items > * {
  padding: 0.3rem;
}

.form .radio-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Card List */
.card-list {
  padding: 2em;
  margin-right: 5em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  overflow: hidden;
}

.card-list-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #ffb6b9;
  border-radius: 1em;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3eacaa;
  overflow: hidden;
  max-height: 400px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-list-item img {
  width: 100%;
  height: 50%;
  border-radius: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.5em;
}

/* Form-Card List Animate */
.animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 0.6s;
          animation: animatebottom 0.6s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* Form Modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #c2efec;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal__close {
  color: #aaaaaa;
  float: right;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 28px;
  font-weight: bold;
  margin-top: -0.6em;
}

.modal__close:hover, .modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal__p {
  font-family: "Lucida Console", "Courier New", monospace;
}

li {
  font-size: 18px;
  margin-left: 10px;
  padding: 5px;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */